@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Roboto:300,400,500,700,900&display=swap&subset=korean');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  font: normal 400 $fontSize $fontFamily;
  line-height: 1.25;
  overflow-y: scroll;
}

body {
  width: 100%;
  letter-spacing: -1px;
  word-spacing: 1px;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

em, i {
  font-style: normal;
}

fieldset {
  border-width: 0;
}

ul, ol {
  li {
    list-style: none;
  }
}

input, select, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  outline: none;
  font-family: $fontFamily;
}

a, button {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.scrollLock {
  height: 100%;

  body {
    height: 100%;
    overflow: hidden;
  }
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.section {
  position: relative;
  width: 100%;
  max-width: $baseWidth;
  padding: 0 30px;
  margin: 0 auto;
  @include tablet {
    padding: 0 rem(30);
  }
}

.point {
  color: $brandColor;
}
.pointAccent {
  color: $etcColor2;
}

.wrap {
  width: 100%;
  min-width: 320px;
}

.header {
  overflow: hidden;
  padding: 14px 0 12px;
  @include tablet {
    padding: rem(20) 0 rem(21);
  }
  &__logo {
    float: left;
    line-height: 0;
    &-img {
      display: inline-block;
      vertical-align: middle;
      height: 38px;
      img {
        display: block;
        height: 100%;
      }
      @include tablet {
        height: rem(42);
      }
    }
    &-text {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      font-weight: 400;
      color: $brandColor;
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        top: 1px;
        margin: 0 11px 0 14px;
        width: 2px;
        height: 13px;
        background: $brandColorLight;
      }
      @include tablet {
        display: none;
      }
    }
  }
  &__call {
    display: none;
    float: right;
    margin-top: 3px;
    padding-left: rem(45);
    line-height: rem(36);
    background: url('./assets/images/layout/icon_call.png') no-repeat 0 50%;
    background-size: rem(35) rem(35);
    a {
      font-size: rem(25);
      font-weight: 600;
      color: $brandColor;
    }
    @include tablet {
      display: block;
    }
  }
}

.footer {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 36px 0;
  @include tablet {
    font-size: rem(18);
    padding: rem(36) 0;
  }
  .section {
    padding: 0;
  }
  &__text {
    word-break: keep-all;
    color: $grey-dark3;
    span {
      display: inline-block;
      white-space: nowrap;
      &:before {
        content: '|';
        padding: 0 10px;
        position: relative;
        top: -1px;
        @include mobile {
          padding: 0 rem(8);
          top: rem(-1);
        }
      }
      &:first-child:before {
        display: none;
      }
    }
  }
}

.pc-only {
  display: block !important;
  @include tablet {
    display: none !important;
  }
}
.mo-only {
  display: none !important;
  @include tablet {
    display: block !important;
  }
}

.container {
  background: $grey-light4;
}

.input-custom {
  label {
    position: relative;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include opacity(0);
  }
  span {
    display: block;
    position: relative;
  }
}


