@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notokr-regular.woff2') format('woff2'),
    url('../fonts/notokr-regular.woff') format('woff'),
    url('../fonts/notokr-regular.ttf') format('truetype'),
    url('../fonts/notokr-regular.svg#notokr-thin') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/notokr-medium.eot');
    src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notokr-medium.woff2') format('woff2'),
    url('../fonts/notokr-medium.woff') format('woff'),
    url('../fonts/notokr-medium.ttf') format('truetype'),
    url('../fonts/notokr-medium.svg#notokr-thin') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notokr-bold.woff2') format('woff2'),
    url('../fonts/notokr-bold.woff') format('woff'),
    url('../fonts/notokr-bold.ttf') format('truetype'),
    url('../fonts/notokr-bold.svg#notokr-thin') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/notokr-black.eot');
    src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notokr-black.woff2') format('woff2'),
    url('../fonts/notokr-black.woff') format('woff'),
    url('../fonts/notokr-black.ttf') format('truetype'),
    url('../fonts/notokr-black.svg#notokr-thin') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TlabModernLife';
    src: url('../fonts/TlabModernLifeL.eot');
    src: url('../fonts/TlabModernLifeL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TlabModernLifeL.woff') format('woff'),
    url('../fonts/TlabModernLifeL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TlabModernLife';
    src: url('../fonts/TlabModernLifeM.eot');
    src: url('../fonts/TlabModernLifeM.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TlabModernLifeM.woff') format('woff'),
    url('../fonts/TlabModernLifeM.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TlabWIDEL';
    src: url('../fonts/TlabWIDEL.eot');
    src: url('../fonts/TlabWIDEL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TlabWIDEL.woff2') format('woff2'),
    url('../fonts/TlabWIDEL.woff') format('woff'),
    url('../fonts/TlabWIDEL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TlabWIDER';
    src: url('../fonts/TlabWIDER.eot');
    src: url('../fonts/TlabWIDER.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TlabWIDER.woff2') format('woff2'),
    url('../fonts/TlabWIDER.woff') format('woff'),
    url('../fonts/TlabWIDER.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}