.visual {
  background: 50% 0 no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  @include tablet {
    padding-bottom: rem(101);
  }

  &-title {
    text-align: center;
    color: $grey-light6;
    padding: 120px 0 54px;

    &__number {
      display: none;
    }

    &__text1 {
      font-size: 35px;
      font-weight: 300;
      margin-bottom: 4px;
    }

    &__text2 {
      font-size: 60px;
      font-weight: 700;

      br {
        display: none;
      }
    }

    @include tablet {
      padding: rem(25) 0 rem(58);

      &__number {
        display: block;
        margin-bottom: rem(17);
        font-size: rem(18);
        color: $tBlackColor5;
      }

      &__text1 {
        margin-bottom: rem(6);
        font-size: rem(40);
        color: $grey-dark4;
      }

      &__text2 {
        font-size: rem(70);
        color: $brandColor;
        line-height: 1.2;

        br {
          display: block;
        }
      }
    }
  }

  &-call {
    margin-top: 54px;
    border: 2px solid $tWhiteColor5;
    border-radius: 35px;
    text-align: center;
    height: 70px;
    line-height: 69px;
    color: $grey-light6;

    &__text {
      font-size: 30px;
      padding-left: 48px;
      background: url('./assets/images/layout/icon_call_visual.png') 0 0 no-repeat;
    }

    &__number {
      font-size: 32px;
      margin-left: 16px;
    }
  }
}

.search {
  background: $brandColorLight;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 10px;

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  @include tablet {
    margin-top: 0;
    display: block;

    > div {
      display: block;
    }
  }
}

.search-form {
  padding: 0 38px;
  @include tablet {
    padding: rem(62) rem(65) rem(78);
  }

  &__title {
    color: $grey-light6;
    white-space: nowrap;
    margin-bottom: 18px;

    em {
      font-size: 21px;
      margin-right: 16px;
    }

    strong {
      font-weight: 400;
    }

    span {
      font-size: 12px;
      vertical-align: middle;
      @include opacity(0.6);
      @include desktopM {
        display: none;
      }
    }

    @include tablet {
      text-align: center;
      margin-bottom: rem(39);

      em {
        font-size: rem(38);
        font-weight: 300;
      }
    }
  }

  &__inputs {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;

    * {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
    }

    li {
      display: table-cell;
      padding: 0 2px;
      vertical-align: top;

      &:nth-of-type(2) {
        width: 84px;
        padding-right: 1px;
      }
    }

    input[type="text"], input[type="tel"] {
      width: 100%;
      border: 1px solid $inputBorder;
      color: $grey-light6;
      background: $inputBg;
      height: 100%;
      padding: 0 10px;

      &::placeholder {
        color: $grey-light6;
      }
    }

    .input-custom {
      label {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;

        & + label {
          margin-left: -1px;
        }
      }

      span {
        background: $inputBg;
        border: 1px solid $inputBorder;
        color: $grey-light6;
      }

      input:checked + span {
        background: $grey-light6;
        border-color: $grey-light6;
        color: $brandColor;
        z-index: 1;
      }
    }

    @include tablet {
      display: block;
      overflow: hidden;

      * {
        font-size: rem(27.2);
        height: rem(67);
        line-height: rem(67);
      }

      li {
        display: block;
        float: left;
        width: 100%;
        padding: 0;
        margin-top: rem(10);

        &:nth-of-type(1) {
          padding-right: rem(137);
          margin-top: 0;
        }

        &:nth-of-type(2) {
          position: absolute;
          top: 0;
          right: 0;
          width: rem(137);
          padding-left: rem(10);
          margin-top: 0;
        }
      }

      input[type="text"], input[type="tel"] {
        padding: 0 rem(28);
      }
    }
  }

  &__agree {
    line-height: 22px;
    margin: 3px 0 0 -20px;
    @include clearBoth;

    * {
      font-size: 14px;
      font-weight: 200;
      color: $grey-light6;
    }

    li {
      float: left;
      margin: 10px 0 0 22px;
      white-space: nowrap;
      position: relative;
      @include clearBoth;
    }

    span {
      padding-left: 32px;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
      }

      &:before {
        top: -1px;
        left: 0;
        width: 22px;
        height: 22px;
        background: $grey-light6;
        @include ieAll {
          top: 1px;
        }
      }

      &:after {
        display: none;
        top: 5px;
        left: 6px;
        width: 10px;
        height: 10px;
        background: $brandColorDark;
        @include ieAll {
          top: 7px;
        }
      }

      &.active:after {
        display: block;
      }
    }

    em {
      margin-left: 12px;
      text-decoration: underline;
      @include opacity(0.9);
    }

    @include tablet {
      line-height: rem(40);
      margin: 0;

      * {
        font-size: rem(23.8);
      }

      li {
        float: none;
        margin: rem(11) 0 0 0;
      }

      span {
        padding-left: rem(53);

        &:before {
          top: rem(-1);
          width: rem(40);
          height: rem(40);
          @include ieAll {
            top: rem(1);
          }
        }

        &:after {
          top: rem(9);
          left: rem(10);
          width: rem(20);
          height: rem(20);
          @include ieAll {
            top: rem(12);
          }
        }
      }

      em {
        float: right;
        margin-left: rem(12);
      }
    }
  }

  &__button {
    margin: 16px -1px 0;

    div {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    span {
      display: table-cell;
      padding: 0 3px;
      vertical-align: top;
    }

    button {
      width: 100%;
      border-style: solid;
      border-width: 1px 0;
      color: $grey-light6;
      height: 50px;
      font-size: 24px;
    }

    @include tablet {
      margin: rem(18) rem(-6) 0;
      span {
        padding: 0 rem(6);
      }
      button {
        height: rem(80);
        font-size: rem(30);
      }
    }
  }

  &__button-cal {
    background: $btnCalColor;
    border-top-color: $btnCalColor1;
    border-bottom-color: $btnCalColor2;
  }

  &__button-free {
    background: $btnFreeColor;
    border-top-color: $btnFreeColor1;
    border-bottom-color: $btnFreeColor2;
  }
}

.price-result {
  width: 33%;
  background: $brandColorDark url('./assets/images/layout/result_bg.gif') 0 0 repeat-y;
  padding: 12px 12px 12px 17px;
  text-align: center;
  @include tablet {
    width: 100%;
    background-image: url('./assets/images/layout/result_bg_mo.gif');
    background-repeat: repeat-x;
    padding: 0;
  }

  &__box {
    border: 3px solid $brandColorLight;
    line-height: 44px;
    color: $grey-light6;
    padding: 65px 0;
    font-size: 20px;
    font-weight: 300;

    &:before {
      content: '';
      width: 1px;
      height: 138px;
      display: inline-block;
      vertical-align: middle;
    }

    > div {
      width: 99%;
      display: inline-block;
      vertical-align: middle;
    }

    em {
      position: relative;
      z-index: 2;
    }

    strong {
      &:before {
        background: $etcColor1;
      }

      em {
        color: $brandColorDark;
      }
    }

    span, strong {
      display: inline-block;
      position: relative;
      min-width: 110px;
      margin-right: 8px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 40px;
        margin-top: rem(-20);
        z-index: 1;
        border: 2px solid $etcColor1;
      }
    }

    @include tablet {
      border: none;
      line-height: rem(54);
      padding: rem(80) 0 rem(70);
      font-size: rem(32);

      &:before {
        display: none;
      }

      p + p {
        margin-top: rem(20);
      }

      span, strong {
        min-width: rem(165);
        margin-right: rem(8);

        &:before {
          height: rem(54);
          margin-top: rem(-28);
        }
      }
    }
  }
}

.detail {
  padding-top: 10px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  &__tab {
    margin-bottom: 30px;

    ul {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    li {
      display: table-cell;
      text-align: center;
      color: $grey-dark1;
      border-bottom: 3px solid $grey-light2;
      cursor: pointer;

      span {
        display: block;
        font-size: 22px;
        font-weight: 300;
        padding: 16px 0;
      }

      &.active {
        border-bottom-color: $grey-dark4;

        span {
          font-weight: 500;
          color: $grey-dark4;
        }
      }
    }

    @include tablet {
      margin: 0 rem(-30) rem(30);

      li {
        border-bottom: none;

        & + li {
          position: relative;

          &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: rem(28);
            margin-top: rem(-14);
            background: $grey;
          }
        }

        &:last-child {
          width: 32%;
        }

        span {
          padding: rem(12) 0 rem(10);
          font-size: rem(24);
        }
      }
    }
  }

  &__product-name {
    margin-top: 40px;
    color: $brandColor;
    font-size: 24px;
    font-weight: 500;
    @include tablet {
      margin-top: rem(36);
      font-size: rem(27);
    }
  }

  &__content {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;

    dl {
      margin-top: 30px;
    }

    dt {
      color: $brandColor;
      font-weight: 500;
      margin-bottom: 5px;
    }

    dd {
      padding: 0;
      margin-top: 3px;
      word-break: keep-all;
    }

    @include tablet {
      font-size: rem(23);

      dl {
        margin-top: rem(30);
      }

      dt {
        margin-bottom: rem(5);
      }

      dd {
        margin-top: rem(3);
      }
    }
  }

  &__table {
    margin-bottom: 10px;

    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }

    caption {
      text-align: right;
      padding-bottom: 3px;
    }

    td, th {
      border: 1px solid $grey-light1;
      text-align: center;
      font-weight: 300;
      padding: 10px;
      word-break: keep-all;
    }

    th {
      background: $inputBorder;
    }

    @include tablet {
      td, th {
        padding: rem(10);
      }
    }
  }
}

.list {
  &__type1 {
    position: relative;
    padding-left: 12px;
    &:before {
      content: '\2022';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__type2, &__type3 {
    li {
      position: relative;
    }
    i {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__type2 {
    li {
      padding-left: 22px;
    }
  }

  &__type3 {
    li {
      padding-left: 25px;
    }
  }
  @include tablet {
    &__type1 {
      padding-left: rem(15);
    }
    &__type2 {
      li {
        padding-left: rem(25);
      }
    }
    &__type3 {
      li {
        padding-left: rem(28);
      }
    }
  }
}
